numpy
pandas
scikit-learn
scipy
torch
transformers
datasets
peft
bitsandbytes
accelerate
optuna
xgboost
tqdm
spacy
nltk
textblob
emoji
requests
praw
jupyter
nbconvert
sentencepiece
protobuf
